/* Global Layout ---------------- */

.site {
	.skip-link {
		color: $color__text-secondary;
	
		&:hover, &:focus, &:active {
			color: $color__text-secondary;
		}
	}
}

.site-main,
.widget-area,
.site-header,
.site-footer {
	padding: 0 1rem;
}

.site-main,
.widget-area {
	margin-top: 2rem;
}

.desktop-hidden {
	@include tablet-up {
		display: none;
	}
}

.mobile-hidden {
	@include mobile-only {
		display: none;
	}
}