.site {
	max-width: $size__site-width;
	margin: auto;
	padding: 2.5rem;
	display: grid;
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"main main"
		"sidebar sidebar"
		"footer footer";

	@include tablet-up {
		grid-template-areas:
			"sidebar main"
			"footer footer";
	}
}

.site-main {
	grid-area: main;
	overflow: hidden;
	/* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

@import "no-sidebar";